<h2>Mentor</h2>
<a asp-controller="Home" asp-action="Index">[To Home]</a>
<a asp-controller="Admin" asp-action="Student">[To Student]</a>
<a asp-controller="Admin" asp-action="Index">[To Admin]</a>

<a asp-controller="Admin" asp-action="LogOff">[Log off]</a>