<h2>Student</h2>
<a asp-controller="Home" asp-action="Index">[To Home]</a>
<a asp-controller="Admin" asp-action="Mentor">[To Mentor]</a>
<a asp-controller="Admin" asp-action="Index">[To Admin]</a>
<a asp-controller="Admin" asp-action="LogOff">[Log off]</a>